<form #formEntry="ngForm"
      class="col-12"
      id="form-producto-info"
      (ngSubmit)="onSubmit()">

  <div class="form-group">
    <label for="sourceWarehouse">
      Ubicacion origen
      <span></span>
    </label>
    <select
            #sourceWarehouse="ngModel"
            name="sourceWarehouse"
            class="form-control"
            [(ngModel)]="_stockMovement.sourceId"
            required>
            <option value="0" disabled>Seleccione una ubicacion</option>
            <option *ngFor="let warehouse of _warehouseList" value="{{warehouse.id}}">{{warehouse.name}}</option>
    </select>
  </div>

  <div class="form-group">
    <label for="productInfo">
      Tipo de producto
      <span></span>
    </label>
    <select
            name="productInfo"
            class="form-control"
            [(ngModel)]="_productInfoId"
            (change)="onProductInfoSelectChange()"
            [disabled]="_stockMovement.sourceId == 0"
            required>
            <option value="0" disabled>Seleccione un tipo de producto</option>
            <option *ngFor="let productInfo of _productInfoList" value="{{productInfo.id}}">{{productInfo.name}}</option>
    </select>
  </div>

  <div class="form-group">
    <label for="product">
      producto
      <span></span>
    </label>
    <select
            #product="ngModel"
            name="product"
            class="form-control"
            [(ngModel)]="_stockMovement.productId"
            required>
            <option value="0" disabled>Seleccione un tipo de producto</option>
            <option *ngFor="let product of _productList" value="{{product.id}}">{{product.serial}}</option>
    </select>
  </div>

  <div class="form-group">
    <label for="sourceWarehouse">
      Ubicacion destino
      <span></span>
    </label>
    <select
            #targetWarehouse="ngModel"
            name="targetWarehouse"
            class="form-control"
            [(ngModel)]="_stockMovement.targetId"
            required>
            <option value="0" disabled>Seleccione una ubicacion</option>
            <option *ngFor="let warehouse of _warehouseList" value="{{warehouse.id}}" [disabled]="warehouse.id == _stockMovement.sourceId">{{warehouse.name}}</option>
    </select>
  </div>

  <div class="form-group" style="text-align : right">
    <input type="submit" value="Crear" [disabled]="!validate()" class="btn btn-success">
  </div>
</form>
<loading *ngIf="loading"></loading>
