.loading {
  position : fixed;
  top : 0;
  left : 0;
  width : 100vw;
  height : 100vh;
  background-color: rgba(0,0,0,0.5);
}

.loading img {
  position : fixed;
  left : 40vw;
  top : 40vh;
  width : 20vw;
}
