<div class="row">
  <div class="form-group col-lg-6">
    <select class="form-control"
            #warehouse="ngModel"
            name="warehouse"
            [(ngModel)]="_warehouseId">
            <option value="0" selected disabled>Seleccione una ubicacion</option>
            <option value="{{warehouse.id}}" *ngFor="let warehouse of _warehouseList">{{warehouse.name}}</option>
    </select>
  </div>
  <div class="form-group col-lg-6" style="text-align : right">
    <button class="btn btn-success" (click)="list()" [disabled]="_warehouseId == 0">Consultar</button>
  </div>
</div>
<hr>
<table class="table">
  <thead class="thead-inverse">
    <tr>
      <th>Ubicacion</th>
      <th>Cantidad</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let stock of _stockList">
      <td>{{stock.product_info.name}}</td>
      <td>{{stock.quantity}}</td>
    </tr>
  </tbody>
</table>
<loading *ngIf="loading"></loading>
